.footer {
  text-align: center;
  padding: 30px 0;
  margin-top: 70px;
  border-top: 1px solid #E5E5E5;
}

.search-results-stats{
	float:right;
	text-align:right;
}

.search-results-stats td:first-of-type + td{
	/* this selects the second column*/
	padding-left:5px;
}

.search-box {
  margin-bottom: 5px;
  margin-top: 25px;
}

/* fix for making sure file input is hidden in a button */
[hidden] {
  display: none !important;
}

.wizard-step-detail {
	font-size: 18px;
	padding-bottom:10px;
}

.multi-value-box:first-child { border-top: 0px; }
.multi-value-box:not(:first-child) {  border-top: 1px solid; border-color: #ddd;}
