<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
  <div class="row">
    <h1>Pick a Document Type</h1>
    <div class="wizard-step-detail">
      Select a document type to use that will help define a query and/or view.
    </div>
    <div class="col-md-12" style="padding-bottom:10px;">
      <form novalidate>

        <div class="radio">
          <label><input type="radio" ng-model="docTypeMethod" value="upload">Choose a representative XML or JSON file</label>
        </div>
        <div class="radio">
          <label><input type="radio" ng-model="docTypeMethod" value="select">Sample the database</label>
        </div>

        <div class="col-md-12" ng-if="docTypeMethod === 'upload'">
          <div class="form-group">
            <label for="uploadedDoc" class="control-label">Choose a file:</label>
            <!-- <input type="file" class="name" name="uploadedDoc" onchange="angular.element(this).scope().changeFile(this.files)" size="50"/></label>-->
            <div>
              <label class="btn btn-default">
                Browse<input type="file" onchange="angular.element(this).scope().changeFile(this.files)" hidden>
              </label>
              <label class="control-label" style="margin-left:10px" ng-bind="filename"></label>
              Or &nbsp;
              <span class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button">Browse MarkLogic
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><a href="#" ng-click="openDocSelectionModal(searchTypeCollectionName)" >Search by Collection Name</a></li>
                  <li><a href="#" ng-click="openDocSelectionModal(searchTypeDirectory)" >Search by Directory</a></li>
                  <li><a href="#" ng-click="openDocSelectionModal(searchTypePartialUri)" >Search by URI</a></li>
                  <li><a href="#" ng-click="openDocSelectionModal(searchTypeRootName)" >Search by Root Element</a></li>
                </ul>
              </span> 
            </div>
          </div>
		</div>

        <div class="col-md-12" ng-if="docTypeMethod === 'select'">
          <div class="form-group">
            <label for="selectDB">Choose a database:</label>
            <select id="selectDB" class="form-control" ng-model="formInput.selectedDatabase" ng-options="database.name as database.name + ' (' + database.count + ')' for database in availableDatabases">
              <option value="">---</option>
            </select>
          </div>
          <div ng-if="formInput.selectedDatabase" class="form-group">
            <label for="selectDocType">Choose a document type:</label>
            <select id="selectDocType" class="form-control" ng-model="formInput.startingDocType" ng-options="item.docType for item in availableDocTypes track by item.docType">
            </select>
          </div>
        </div>

        <div class="col-md-12">
          <div class="form-group has-error">
            <p class="help-block">{{ message }}</p>
          </div>
        </div>

        <div class="col-md-12" ng-if="(docTypeMethod === 'select' && formInput.startingDocType) || (docTypeMethod === 'upload' && uploadButtonActive)">
          <div class="form-group">
			  <button ng-click="back()" class="btn btn-primary">Back</button>&nbsp;<input type="submit" value="Select fields" ng-click="selectDocumentType()" class="btn btn-primary"/>
		  </div>
        </div>
		  <div class="col-md-12" ng-if="!((docTypeMethod === 'select' && formInput.startingDocType) || (docTypeMethod === 'upload' && uploadButtonActive))">
			  <div class="form-group">
				   <button ng-click="back()" class="btn btn-primary">Back</button>
			  </div>
		  </div>
      </form>
    </div>
  </div>
  <div class="modal fade" id="selectDocument" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
	  <div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
			<h4 class="modal-title">Select example document by {{searchTypeDescription[searchType]['title']}}</h4>
		</div>
		<div class="modal-body">
			<div class="panel panel-default">
			 	<div class="panel-body" >
				 		<div class="row">	
		  					<div class="col-sm-3">
							<div class="input-group input-group-sm">
							    <select id="database" ng-model="formInput.selectedDatabase" name="database"
							     ng-options="database.name as database.name + ' (' + database.count + ')' for database in wizardForm.databases" 
							     class="form-control pull-right" required>
						            	<option value="">--Choose Database</option>
						        	</select>
					        	</div>
					        	</div>
					        	<div class="col-sm-9">
							
						    <div class="input-group input-group-sm" ng-hide="searchType == searchTypeRootName">
						      <input type="text" class="form-control" maxlength="80" required ng-model="formInput.searchString" placeholder="{{searchTypeDescription[searchType]['message']}}">
						      <span class="input-group-btn">
						        <button class="btn btn-default" type="button" ng-click="searchDocuments()">Search</button>
						      </span>
						    </div>
						    <div class="input-group input-group-sm" ng-hide="searchType != searchTypeRootName" >
							    <select class="form-control" required  ng-model="formInput.searchString" name="rootElement" ng-options="re.key as re.value for re in rootElements">
						            	<option value="">--Choose Root Element</option>
						        	</select>
						        	<span class="input-group-btn">
						        		<button class="btn btn-default" type="button" ng-click="searchDocuments()">Search</button>
						      	</span>
					        	</div>
					        	</div>
						 </div>
				 </div>
			 </div>
			<div class="row" ng-hide="uris.length == 0">
			  <div class="col-sm-4" id ="uriList">
				 <div class="panel panel-default">
					  	
					  <div class="panel-body">   
					  	<ul class="pager">
						  <li class="previous"><a href="#" ng-click='prev()'><span aria-hidden="true">&larr;</span>Previous</a></li>
						  <li class="next"><a href="#" ng-click='next()'>Next<span aria-hidden="true">&rarr;</span></a></li>
						</ul>
					  	<ul class="list-group list-group-flush">
			                <a ng-repeat="link in uris" href="#" class="list-group-item" ng-click="searchDocuments(link)">{{link}}</a>
			               
			            </ul>
			         </div>
			      </div>      
			  </div>
			  <div class="col-sm-8">
			  		<div class="panel panel-default">
					  <div class="panel-body" ng-hide="doc.text.length > 0">
					  	Please select a document to view.
					  </div>
					  <div class="panel-body pre-scrollable" ng-hide="doc.text.length == 0">
					  	<code>{{doc.text}}</code>
					  	<button type="button" class="btn btn-default btn-sm bottom-left" ng-click="selectDocument()">
				          <span class="glyphicon glyphicon-ok"></span>Select
				        </button>
					  </div>
					</div>
			</div>
			</div>
			<div class="panel panel-default" ng-hide="uris.length > 0">
			 	<div class="panel-body" > {{noResultsMessage}}</div>
			</div>
	    </div>
	  </div>
  </div>
</div>
</div>
