<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div ng-hide="step != 1" class="row">
      <h1>Step 1 - Upload Example Document XML</h1>
      <div class="wizard-step-detail">
      	Select a representative XML or JSON-file to use that will help define a query and/or view.
      </div>
      <form class="form-horizontal" style="padding-top:10px">
        <div class="form-group">
          <label for="uploadedDoc" class="col-sm-2 control-label">Example Document</label>
<!--           <input type="file" class="name" name="uploadedDoc" onchange="angular.element(this).scope().changeFile(this.files)" size="50"/></label>-->
		  <div class="col-sm-10">
	          <label class="btn btn-default">
	    		Browse <input type="file" onchange="angular.element(this).scope().changeFile(this.files)" hidden></span>
			  </label>
			  <span style="margin-left:10px" ng-bind="filename"></span>
		  </div>          
        </div>
        <div class="form-group">
          <label for="type" class="col-sm-2 control-label">Query or View</label>
          <div class="col-sm-10">
          	<select class="form-control" name="type" ng-model="queryView" style="width:200px">
      	    	<option value="query">Query</option>
      	    	<option value="view">View</option>
    	    </select>
          </div>
        </div>
		  <div class="{{messageClass}}">
			  <div class="col-sm-10">
			  	<p class="help-block">{{ message }}</p>
			  </div>
		  </div>
		  <div class="form-group">
        	<div class="col-sm-offset-2 col-sm-10">
        		<input type="submit" ng-disabled="!uploadButtonActive" value="Create {{queryView}}" ng-click="upload()" class="btn btn-default"/></p>
        	</div>
        </div>
      </form>
  </div>
  <div ng-hide="step != 2" class="row">
	<h1>Step 2 - Choose Relevant Fields</h1>
	<form class="form-horizontal">
	  
		<fieldset>
		  	<legend>Edit Adhoc {{wizardForm.type}}</legend>
		      	<div class="form-group">
		      		<label for="queryName" class="col-sm-2 control-label">{{wizardForm.type}} Name</label>
		      		<div class="col-sm-10">
		      			<input id="queryName" type="text" class="form-control" required ng-model="formInput.queryViewName" size="20"/>
		      		</div>
		      	</div>
		      	<div class="form-group">
		      		<label for="rootElement" class="col-sm-2 control-label">Root Element</label>
		      		<div class="col-sm-10">
			        	<select id="rootElement" ng-model="wizardForm.rootElement" name="rootElement" ng-options="rootElement as rootElement for rootElement in wizardForm.possibleRoots" class="form-control">
			            	<option value="">--Choose root element</option>
			        	</select>
		      		</div>
		      	</div>
		      	<div class="form-group">
		      		<label for="database" class="col-sm-2 control-label">Database</label>
		      		<div class="col-sm-10">
			        	<select id="database" ng-model="formInput.selectedDatabase" name="database" ng-options="database as database for database in wizardForm.databases" class="form-control" required>
			            	<option value="">--Choose Database</option>
			        	</select>
		      		</div>
		      	</div>
		</fieldset>
       	<fieldset>
       		<legend>
		        <span ng-hide="wizardForm.type !== 'query'">Form</span>
		        <span ng-hide="wizardForm.type == 'query'">View</span>
       		</legend>
			<div>
	        	<div ng-if="wizardForm.type == 'Query'" class="wizard-step-detail" style="margin-top:-10px">For each field you may select whether it is available to search on, displayed in results, both, or none.</div>
	        	<div ng-if="wizardForm.type != 'Query'" class="wizard-step-detail" style="margin-top:-10px">For each field you may select whether it displayed in results or not.</div>
				<div ng-show="isNamespaceAware" style="padding-top:5px;padding-bottom:10px">
					<span>Namespaces ({{wizardForm.namespaces.length}})</span>
					<span class="glyphicon" style="icon: pointer" ng-class="showNamespaces ? 'glyphicon-chevron-up' : 'glyphicon-chevron-down'"  aria-hidden="true" ng-click="toggleNamespaces()"></span>
				</div>
				<div ng-show="showNamespaces" style="padding-top:10px">
					<dl class="dl-horizontal">
						<dt ng-repeat-start="ns in wizardForm.namespaces" ng-bind="ns.abbrv"></dt>
						<dd ng-repeat-end ng-bind="ns.uri"></dd>
					</dl>
				</div>
			</div>
	        <div>
	        	<div>Display Options</div>
	        	<div>
	        		<div class="form-group">
	        			<label class="col-sm-2 control-label">Column Order</label>
	        			<div class="col-sm-10">
	        				<div class="radio">
  								<label>
    								<input type="radio" ng-model="displayOrder" value="alphabetical">
    								Alphabetical
  								</label>
							</div>
	        				<div class="radio">
  								<label>
    								<input type="radio" ng-model="displayOrder" value="document-order">
    								Document Order
  								</label>
							</div>
							
	        			</div>
	        		</div>
	        	</div>
	        	<div>        		
	        		<table class="table table-striped">
	        			<thead>
	        				<tr>
	        					<th style="min-width:150px">Name in Data</th>
	        					<th>Include</th>
	        					<th style="width:100%">Name in Search and/or Results</th>
	        				</tr>
	        			</thead>
	        			<tbody>
	        				<tr ng-repeat="field in wizardForm.fields">
	        					<td><span ng-bind="field.elementName" title="{{field.xpathNormal}}"></span></td>
	        					<td>
					      			<select class="form-control" style="width:150px" ng-model="field.includeMode" ng-change="includeChanged(field)">
					      				<option value="none">No</option>
					      				<option ng-if="wizardForm.type == 'Query'" value="both">Both</option>
					      				<option ng-if="wizardForm.type == 'Query'" value="query">Search Field Only</option>
					      				<option ng-if="wizardForm.type == 'Query'" value="view">Results Only</option>
					      				<option ng-if="wizardForm.type != 'Query'" value="view">Yes</option>
					      			</select>
	        					</td>
	        					<td><input ng-required="field.include" ng-disabled="!field.include" type="text" class="form-control" ng-model="field.title"/></td>
	        				</tr>
	        			</tbody>
	        		</table>	        		
	        	</div>
	        </div>
			<div class="form-group">
				<div class="col-sm-12" style="text-align:center">
					<button type="submit" ng-click="submitWizard()" ng-disabled="!validForm()" class="btn btn-default">Submit</button>
				</div>
			</div>
    	</fieldset>
    </form>
  </div>
  <div ng-hide="step != 3" class="row">
    <h1>Finished!</h1>
    <span ng-bind-html="to_trusted(wizardResults)"></span>
  </div>
</div>