<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container-fluid">
  <div class="row">
    <form name="form" novalidate>
      <div class="col-md-3">
          <div class="form-group">
            <label>Database</label>
            <select ng-model="selectedDatabase" ng-options="item.name as item.name + ' (' + item.count + ')' for item in databases" class="form-control" required>
            	<option value="">--Choose Database</option>
            </select>
          </div>
          <div class="form-group">
            <label>Type discriminator</label>
            <select ng-model="selectedDocType" ng-options="item as item for item in doctypes" class="form-control" required>
            	<option value="">--Choose DocType</option>
            </select>
          </div>
          <div class="form-group">
            <label>Query</label> <i class="help-text glyphicon glyphicon-question-sign" tooltip title="The query selects which fields are available for searching."></i>
            <select ng-model="selectedQuery" ng-options="item.queryName as item.queryName for item in queries.queries" class="form-control" required>
            	<option value="">--Choose Query</option>
            </select>
          </div>
          <div class="form-group">
            <label>View</label> <i class="help-text glyphicon glyphicon-question-sign" tooltip title="The view defines which fields from the query are displayed, and the name given to each field."></i>
            <select ng-model="selectedView" ng-options="item.viewName as item.viewName for item in views.views" class="form-control" required>
            	<option value="">--Choose View</option>
            </select>
          </div>
          <div ng-show="textFields.length">
            <div ng-repeat="item in textFields" class="form-group">
              <label for="input{{index+1}}">
                {{ item.label }}
                <span class="index-indicator" ng-if="item.rangeIndex" tooltip="This element currently has a range index.">*</span>
              </label>
              <select ng-if="!item.rangeIndex && item.dataType === 'boolean'" ng-model="inputField[$index+1]" class="form-control" ng-options="item for item in ['','true', 'false']"></select>
              <input ng-if="!item.rangeIndex && item.dataType  === 'text'"  type="text" class="form-control" ng-model="inputField[$index+1]" id="input{{index+1}}" placeholder="{{ item.placeholderText }}"/>
              <input ng-if="!item.rangeIndex && item.dataType  === 'number'"  type="number" class="form-control" ng-model="inputField[$index+1]" id="input{{index+1}}" placeholder="{{ item.placeholderText }}"/>
              <input ng-if="item.rangeIndex" type="text" class="form-control" ng-model="inputField[$index + 1]" id="input{{ $index + 1 }}" placeholder="{{ item.placeholderText }}" autocomplete="off" typeahead="suggestion for suggestion in ctrl.suggestValues({ value: $viewValue, item: item })"/>
            </div>
            <button type="submit" ng-click="clickSearch(form)" class="btn btn-default">Search</button>
          </div>
        
      </div>
      <div class="col-md-9 search-panel">
        <div class="input-group search-box">
          <input type="text" class="form-control" ng-model="searchText" placeholder="Search text" aria-label="Search text">
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit" ng-click="clickSearch(form)">Search!</button>
          </span>
        </div>
        <div ng-show="message != '' || results['result-count']" class="panel panel-default">
          <div class="panel-body">
            <div ng-show="message != ''">{{message}}</div>
            <div ng-show="results['results'].length > 0">
              <div>
                <table class="search-results-stats">
                  <tr><td><strong>Total Results:</strong></td><td>{{results['result-count'] | number}}
                	  <button ng-click="showExportCsv(form)" 
                	  class = "btn btn-default"
                	  data-toggle="tooltip" title="Export to csv file.">
                	  <img src = "assets/images/icon_excel.gif">
              		  </button>
	                  <div id="hiddenDiv1" ng-hide="true"></div>
                  </td></tr>
                  <tr><td><strong>Page:</strong></td>
                  <td>{{results['current-page']}} of {{results['page-count'] | number}}</td>
                  </tr>              	
                </table>
                <pagination total-items="results['result-count']" ng-model="queryCurrentPage" max-size="5" class="pagination-sm" boundary-links="true" ng-click="search()"></pagination>
              </div>
              <div style="max-height:calc(100vh - 260px); overflow-x:auto; overflow-y:auto;">
                <table class="table table-bordered">
              	  <thead>
              	    <tr>
                      <th ng-repeat="hdr in results['results-header']" ng-bind="hdr"></th>
                      <th ng-if="includeMatches">
                        <em>All Matches</em>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="result in results['results']">
                      <td ng-repeat="key in results['results-header']">
                        <span ng-show="key == 'URI'"><a href="#" ng-click="openDetails(result['database'],result['URI'])" ng-bind-html="to_value(key, result[key], result)"></a></span>
                        <span ng-hide="key == 'URI'" ng-bind-html="to_value(key, result[key], result)"></span>
                      </td>
                      <td ng-if="includeMatches">
                        <div>
                          <button type="button" class="btn btn-xs" ng-model="showMatch[$index]" 
                            uib-btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false"
                            ng-class="{ 'btn-danger': showMatch[$index], 'btn-primary': !showMatch[$index] }"
                            ng-click="showMatch[$index] = !showMatch[$index]"/>
                            {{ showMatch[$index] ? 'hide' : 'show' }}
                          </a>
                        </div>
                        <div ng-show="showMatch[$index]">
                          <dl>
                            <dt ng-repeat-start="match in result['$matches']">
                              <span class="strong" ng-if="match.column">{{ match.column }}</span>
                              <span ng-if="!match.column">{{ match.path }}</span>
                            </dt>
                            <dd style="padding-bottom:3px" ng-repeat-end>
                              <span ng-repeat="part in match.parts" ng-class="{ 'search-match-highlight': part.highlight }">{{ part.highlight || part }}</span>
                            </dd>
                          </dl>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div ng-show="results['result-count'] == 0">
              <div class="alert alert-info" role="alert"><strong>Warning!</strong> No data found for given search.</div>
            </div>
          </div>
        </div>
        <div ng-hide="message != '' || results['result-count']" class="panel panel-default">
          <div class="panel-body">
            <h1>Getting Started</h1>
            <ol>
              <li>Select a database</li>
              <li>Select a document type</li>
              <li>Type any desired constraints</li>
              <li>Hit search!</li>
            </ol>
          </div>
        </div>
      </div>
    </form>
  </div>
  



<!-- line modal -->
<div class="modal fade" id="exportCsvModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<h3 class="modal-title">Export Search Results to CSV.</h3>
		</div>
		<div class="modal-body">
			
            <!-- content goes here -->
            <div class="alert alert-warning">
                <strong>Warning!</strong> You have selected to export a large amount of data. For your convenience, this data has been split up into multiple files. Please download all the files individually.
            </div>
            <p>You have selected to download <b>{{results['result-count']}}</b> items. These items have been split up into <b>{{links.length}}</b> separate files. Click on each file to download.</p>
            <ul class="pre-scrollable">
                <li ng-repeat="link in links"><img src = "assets/images/icon_excel.gif"> <a href="#" ng-click="exportCsv(($index+1))">{{link}}</a></li>
            </ul>
        	

		</div>
		<div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal"  role="button">Close</button>
			<div class="btn-group btn-group-justified" role="group" aria-label="group button">
				<div class="btn-group btn-delete hidden" role="group">
					<button type="button" id="delImage" class="btn btn-default btn-hover-red" data-dismiss="modal"  role="button">Delete</button>
				</div>
			</div>
		</div>
	</div>
  </div>
</div>
</div>
