<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container-fluid">
  <div class="row">
  <div class="col-md-12">
  <span><strong>Show:</strong></span>
<span class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button">{{mode}}
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#" ng-click="switchMode('Queries')" >Queries</a></li>
      <li><a href="#" ng-click="switchMode('Views')" >Views</a></li>
    </ul>
     <div ng-show="loadError != '' || genericError != ''"  class="col-md-12">
              <div class="form-group has-error">
                <p class="help-block">{{ loadError }}{{ genericError }}</p>
              </div>
            </div>
</span>
      <div ng-show="results.length === 0"  class="col-md-12">
          <div class="form-group has-error">
              <p class="help-block">No {{mode}} found.</p>
          </div>
      </div>
      <div ng-show="results.length > 0">
  <div>
    <table class="search-results-stats">
      <tr><td><strong>Total Results:</strong></td><td>{{totalCount | number}}
      </td></tr>
      <tr><td><strong>Page:</strong></td>
      <td>{{currentPage}} of {{pageCount | number}}
      </td>
      </tr>
    </table>
    <pagination total-items="totalCount" ng-model="currentPage" items-per-page="PAGE_SIZE" max-size="5" class="pagination-sm" boundary-links="true" ng-click="search()"></pagination>
  </div>
    </div>
              <div ng-show="loadError == '' && results.length > 0" style="overflow-x:auto">
                <table class="table table-bordered">
              	  <thead>
              	    <tr>
                       <th>Name</th><th>Database</th><th>Document Type</th><th>Edit</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="result in results">
                      <td><span>{{result['name']}}</span></td>
                      <td><span>{{result['database']}}</span></td>
                      <td><span>{{result['docType']}}</span></td>
                      <td>
                                                  <div>
                                                      <a href="/wizard/query/{{result['name']}}"><button value="Edit" class="btn btn-primary">Edit...</button></a>
                                                      &nbsp;
                                                      <button value="Remove" ng-click="removeQueryView(result['name'],$event)" class="btn btn-primary">Remove...</button>
                                                  </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
 <a href="/wizard/query/" align="right"><button ng-click="" class="btn btn-primary">Create new query...</button></a>&nbsp;<a href="/wizard/view/" align="right"><button ng-click="" class="btn btn-primary">Create new view...</button></a>
</div>
</div>
</div>